
body {
    margin-top: 350px;
    margin-bottom: 100px;
    margin-right: 90px;
    margin-left: 90px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: grey;
    color: white;
}

li{
  margin: 25px 0;
}
