%nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top
  .container-fluid
    .navbar-wrapper
      = link_to 'Cooperativa Escolar', signin_path, class: 'navbar-brand'
    .collapse.navbar-collapse.justify-content-end
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{:href => "#pablo"}
            %i.material-icons dashboard
            %p.d-lg-none.d-md-block
              Stats
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"}
            %i.material-icons notifications
            %span.notification 5
            %p.d-lg-none.d-md-block
              Some Actions
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            %a.dropdown-item{:href => "#"} Mike John responded to your email
            %a.dropdown-item{:href => "#"} You have 5 new tasks
            %a.dropdown-item{:href => "#"} You're now friend with Andrew
            %a.dropdown-item{:href => "#"} Another Notification
            %a.dropdown-item{:href => "#"} Another One